<input type="text" [(ngModel)]="markerCount"><button (click)="placeMarkers()">Заполнить</button>
<div style="height: 500px;"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"

>
</div>
